<%- include('../partials/head') %>

<%- include('../partials/header') %>

<%- include('../partials/nav') %>

<h1>Annonces</h1>

<table>

    <tbody>
    <% annonces.forEach((annonce) => { %>
        <tr>
            <td><%= annonce.titre %></td>
            <td><%= annonce.ville %></td>
            <td><%= annonce.prix %> euro</td>
            <td>
                <a class="boutton" href="http://localhost:4000/annonce/<%= annonce._id %>">Voir l'annonce</a>
            </td>
        </tr>
    <% }) %>
    </tbody>

</table>

<%- include('../partials/footer') %>
